.banner {
  @apply bg-bannerBrands bg-cover flex items-center justify-center relative md:min-h-[65rem];
}
.banner--content {
  @apply flex items-center flex-col md:flex-row w-full md:min-h-[65rem] md:after:content-[""] md:after:absolute md:after:block md:after:bg-whiteb md:after:w-[50%] md:after:h-[100%] md:after:rounded-tl-[3rem] md:after:rounded-bl-[3rem] md:after:right-[0] md:after:z-[0] md:after:opacity-60;
}

.banner--content__right {
  @apply w-full relative z-[1];
}

.banner--content__right--image {
  @apply w-full object-contain md:h-[45rem];
}

.banner--content__left {
  @apply flex justify-center items-center w-full;
}