.card--banner {
  @apply w-full md:max-w-[50rem] mx-auto;
}

.card--banner__header {
  @apply bg-blue px-[1.8rem] py-[1rem] rounded-tl-[1.5rem] rounded-tr-[1.5rem];
}

.card--banner__header--info--text {
  @apply text-white text-base tracking-widest font-robotoI font-bold opacity-40;
}

.card--banner__header--detail--text {
  @apply font-robotoM text-[2.5rem];
}

.card--banner__header--detail--text {
  @apply text-white;
}

.card--banner__body {
  @apply bg-white px-[1.8rem] py-[1.5rem] rounded-bl-[1.5rem] rounded-br-[1.5rem] shadow-1x2;
}

.card--banner__body--info--text {
  @apply text-blue text-base font-robotoB;
}

.card--banner__body--details {
  @apply flex flex-col items-center md:flex-row md:justify-around mt-[.7rem] mb-[1.4rem];
}

.card--banner__body--details--left {
  @apply w-full max-w-[10rem]
}

.card--banner__body--dl--points {
  @apply font-robotoB opacity-70 text-gray text-[3.5rem] leading-[1]; 
}

.card--banner__body--dl--desc {
  @apply font-robotoB text-xs opacity-70 text-gray leading-[1];
}

.card--banner__body--details--center {
  @apply flex flex-col
}

.card--banner__body--dc-data {
  @apply font-robotoB text-base opacity-70 text-gray my-[.5rem];;
}

.card--banner__body--details--right {
  @apply flex flex-col
}

.card--banner__body--dr-data {
  @apply font-robotoB text-base opacity-70 text-gray my-[.5rem];
}