.filter-content {
  @apply max-w-[85%];
}

.filter-content--header {
  @apply text-center my-[3rem];
}

.filter-content--header__image {
  @apply flex justify-center;
}

.filter-content--header__title--text {
  @apply font-robotoBI text-[3rem] text-gray uppercase
}

.filter-content--filter__select {
  @apply mx-[1rem] mt-[1.5rem] pl-[1.5rem] pr-[5rem] py-[.7rem] transition-all border border-[gray] focus-visible:border-[gray] border-[.2rem] rounded-[1.4rem] cursor-pointer hover:shadow-xl text-lg appearance-none bg-arrowDown bg-no-repeat bg-[center_right_1rem] text-grayLight font-robotoMI
}

.filter-content--card {
  @apply flex flex-col flex-wrap justify-center my-[7rem] pl-[3rem] pr-[3rem] w-full md:pl-[.7rem] md:pr-[.7rem] md:flex-row md:gap-[3rem] 2xl:max-w-screen-xl mx-auto
}
