@font-face {
  font-family: "Roboto Black";
  src: url("../public/fonts/roboto/Roboto-Black.woff");
  src: url("../public/fonts/roboto/Roboto-Black.woff2");
}

@font-face {
  font-family: "Roboto Black Italic";
  src: url("../public/fonts/roboto/Roboto-BlackItalic.woff");
  src: url("../public/fonts/roboto/Roboto-BlackItalic.woff2");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../public/fonts/roboto/Roboto-Bold.woff");
  src: url("../public/fonts/roboto/Roboto-Bold.woff2");
}

@font-face {
  font-family: "Roboto Bold Italic";
  src: url("../public/fonts/roboto/Roboto-BoldItalic.woff");
  src: url("../public/fonts/roboto/Roboto-BoldItalic.woff2");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("../public/fonts/roboto/Roboto-Italic.woff");
  src: url("../public/fonts/roboto/Roboto-Italic.woff2");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../public/fonts/roboto/Roboto-Light.woff");
  src: url("../public/fonts/roboto/Roboto-Light.woff2");
}

@font-face {
  font-family: "Roboto Light Italic";
  src: url("../public/fonts/roboto/Roboto-LightItalic.woff");
  src: url("../public/fonts/roboto/Roboto-LightItalic.woff2");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../public/fonts/roboto/Roboto-Medium.woff");
  src: url("../public/fonts/roboto/Roboto-Medium.woff2");
}

@font-face {
  font-family: "Roboto Medium Italic";
  src: url("../public/fonts/roboto/Roboto-MediumItalic.woff");
  src: url("../public/fonts/roboto/Roboto-MediumItalic.woff2");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../public/fonts/roboto/Roboto-Regular.woff");
  src: url("../public/fonts/roboto/Roboto-Regular.woff2");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../public/fonts/roboto/Roboto-Thin.woff");
  src: url("../public/fonts/roboto/Roboto-Thin.woff2");
}

@font-face {
  font-family: "Roboto Thin Italic";
  src: url("../public/fonts/roboto/Roboto-ThinItalic.woff");
  src: url("../public/fonts/roboto/Roboto-ThinItalic.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply min-h-screen;
}

.navbar-brand {
  @apply h-32 flex items-center flex-col justify-evenly container max-w-[90%];
}

.navbar-nav-text {
  @apply text-black font-robotoI font-bold relative;
}